{% extends 'base.html.twig' %}

{% block body %}
    <div class="relative top-[180px] w-fit mx-auto">
        <div class="w-fit h-fit mx-auto">
            <p class="text-black break-normal text-[28px] font-inter">Log In</p>
        </div>
        {% if error %}
            <div class="bg-red-100 border border-red-400 text-red-700 px-4 py-4 rounded w-[384px] mx-auto mt-[18px]" role="alert">
                <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
            </div>
        {% endif %}
        <form action="{{ path('login') }}" method="post" class="relative top-[40px]">
            <div class="w-[384px] h-fit relative mx-auto">
                <p class="text-black text-[16px] font-inter">Nickname</p>
                <input class="w-[384px] text-[16px] mt-[22px] pb-[11px] font-inter focus:outline-none" type="text" id="username" name="_username" placeholder="Enter your nickname.." value="{{ last_username }}" required>
                <div class="h-[2px] w-[384px] bg-[#2e4053] rounded"></div>
            </div>
            <div class="w-[384px] h-fit relative mx-auto top-[36px]">
                <p class="text-black text-[16px] font-inter">Password</p>
                <input class="w-[384px] text-[16px] mt-[22px] pb-[11px] font-inter focus:outline-none" type="password" id="password" name="_password" placeholder="Enter your password.." required>
                <div class="h-[2px] w-[384px] bg-[#2e4053] rounded"></div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
            </div>
            <div class="w-fit h-fit relative mx-auto top-[70px] hover:shadow-xl transition">
                <button class="text-[18px] font-inter w-[80px] h-[42px] bg-black text-white rounded" type="submit">Log In</button>
            </div>
        </form>
        <div class="w-[384px] h-fit relative flex justify-between top-[130px] mx-auto">
            <div>
                <a href="{{ path('registration') }}" class="text-grey font-inter text-[14px]">
                    No account yet?
                </a>
            </div>
            <div>
                <a href="" class="text-grey font-inter text-[14px]">
                    Password forgotten?
                </a>
            </div>
        </div>
    </div>
{% endblock %}
