{% extends 'base-without-components.html.twig' %}

{% block body %}
    <div id="registration-box" class="box-center">
        <div class="w-fit mx-auto mt-[50px]">
            <p class="text-[22px]">Registration</p>
        </div>
        {% if not (errors is empty) or not (form_errors(registration_form.password.first) is empty) %}
            <div class="w-[240px] mx-auto h-fit flex justify-center border-2 border-[#ff5447] pt-[8px] pb-[8px] pl-[8px] pr-[8px] rounded mt-[40px]">
                <ul class="px-4 list-disc marker:text-[#ff5447]">
                    {% for error in errors%}
                        <li class="text-[#ff5447] text-[16px]">
                            {{ error }}
                        </li>
                    {%  endfor %}
                    {% if not (form_errors(registration_form.password.first) is empty) %}
                        <li class="text-[#ff5447] text-[16px]">
                            {{ form_errors(registration_form.password.first) }}
                        </li>
                    {% endif %}
                </ul>
            </div>
        {% endif %}
        <form class="" method="POST" id="registration">
            <div class="w-fit h-fit mx-auto mt-[40px]">
                <div class="w-fit h-fit">
                    <p class="text-[18px]">Nickname</p>
                </div>
                {{ form_widget(registration_form.nickname, { 'attr': { 'autofocus': true } }) }}
                <div class="w-fit h-fit mt-[24px]">
                    <p class="text-[18px]">Email</p>
                </div>
                {{ form_widget(registration_form.email) }}
                <div class="w-fit h-fit mt-[24px]">
                    <p class="text-[18px]">Password</p>
                </div>
                {{ form_widget(registration_form.password.first) }}
                <div class="w-fit h-fit mt-[24px]">
                    <p class="text-[18px]">Repeat Password</p>
                </div>
                {{ form_widget(registration_form.password.second) }}
                {{ form_widget(registration_form.token) }}
                <div class="w-fit h-fit mt-[24px] flex items-center">
                    {{ form_widget(registration_form.agreeTerms) }}
                    <label class="ml-2 text-[16px] text-white">I agree with the <a href="" class="text-[16px] a px-[4px] rounded">terms and conditions.</a></label>
                </div>
                <div class="w-fit h-fit mx-auto mt-[24px] mb-[50px]">
                    {{ form_widget(registration_form.register) }}
                </div>
            </div>
        </form>
    </div>
    <script type="module">
        import FormValidator from "{{ asset('build/js/FormValidator.js') }}";

        const login = new FormValidator('registration', {
            nickname: 'registration_form[nickname]',
            email: 'registration_form[email]',
            passwordFirst: 'registration_form[password][first]',
            passwordSecond: 'registration_form[password][second]'
        });
    </script>
{% endblock %}
