{% extends 'base-without-components.html.twig' %}

{% block body %}
    <div class="relative max-w-[1000px] mx-auto h-fit top-[180px] w-fit">
        <div class="flex w-[300px] h-fit justify-evenly">
            <div class="relative w-[90px] h-[90px] rounded-full bg-[#2e4053]">
                {% if client is not null and client.project.organisationLogo is not null %}<img src="{{ asset(client.project.organisationLogo) }}" class="mt-[2px] ml-[2px] object-cover w-[86px] h-[86px] rounded-full select-none">{% endif %}
            </div>
            <div class="w-fit h-fit relative top-[30px]">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" class="fill-[#2e4053]" viewBox="0 0 16 16">
                    <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                </svg>
            </div>
            <div class="w-[90px] h-[90px] rounded-full bg-[#2e4053]">
                {% if user.profilePic is not null %}
                    <img src="{{ asset(user.profilePic) }}" class="mt-[2px] ml-[2.2px] object-cover w-[86px] h-[86px] rounded-full select-none">
                {% else %}
                    <div class="rounded-full w-fit h-fit bg-white mt-[2px] ml-[2.2px]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="86" height="86" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                            <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                        </svg>
                    </div>
                {% endif %}
            </div>
        </div>
        {% if not (errors is empty) %}
            <div id="error-box" class="bg-red-100 border border-red-400 text-red-700 px-4 py-4 rounded w-[300px] mx-auto mt-[20px] mb-[20px]" role="alert">
                <ul class="px-4 list-decimal font-inter text-[14px]">
                    {% for error in errors%}
                        <li>
                            <p class="font-inter text-[14px]">{{ error }}</p>
                        </li>
                    {%  endfor %}
                </ul>
            </div>
        {% endif %}
        <div class="w-fit mx-auto h-fit mt-[16px]">
            {% if client is not null %}
                <p class="font-inter text-[18px] font-bold">{{ client.project.projectName }}</p>
            {% endif %}
        </div>
        <div class="w-fit h-fit mx-auto mt-[-4px]">
            <p class="font-inter text-[14px] select-none">wants to access your account</p>
        </div>
        <div class="w-fit h-fit flex mx-auto mt-[4px]">
            <p class="font-inter text-[14px] select-none">Signed in as&ensp;</p>
            <p class="font-inter text-[14px] font-bold">{{ user.getNickname|length > 10 ? user.getNickname|slice(0,10) ~ '...' : user.getNickname }}</p>
            <a href="{{ path('logout') }}">
                <p class="font-inter text-[14px] text-[#223dd6]">&ensp;Not you?</p>
            </a>
        </div>
        <div class="mx-auto h-[2px] bg-[#ebebeb] w-[94%] rounded mt-[14px] mb-[12px]"></div>
        <div class="max-h-[200px] overflow-auto scrollbar-hide">
            {% if client is not null and webApp is not null %}
                <div class="w-fit h-fit mx-auto">
                    <p class="font-inter text-[16px] font-bold select-none">This will allow {{ client.project.projectName|length > 12 ? client.project.projectName|slice(0,12) ~ '...' : client.project.projectName }} to:</p>
                </div>
                <div class="w-[240px] h-fit mx-auto mt-[12px]">
                    <ul class="px-4 list-disc">
                    {% for scope in scopes %}
                        <li>
                            <p class="font-inter text-[14px]">{{ scope.description }}</p>
                        </li>
                    {% endfor %}
                    </ul>
                </div>
            {% else %}
                <div class="w-[300px] h-[60px]"></div>
            {% endif %}
        </div>
        <div class="mx-auto h-[2px] bg-[#ebebeb] w-[94%] rounded mt-[14px] mb-[20px]"></div>
        <div class="w-[260px] h-fit mx-auto mb-[20px]">
            <p class="font-inter text-[12px] text-center break-normal">By clicking Authorize, you allow this app to use and manipulate your information.</p>
        </div>
        <div class="w-[300px] h-fit flex justify-between">
            <div class="h-[30px] w-fit ml-[18px]">
                <a class="hover:text-grey transition inline-block align-middle" href="{{ path('home') }}">
                    <p class="font-inter text-[16px]">Cancel</p>
                </a>
            </div>
            <div class="w-fit h-fit mr-[18px]">
                {{ form(form) }}
            </div>
            <script src="{{ asset('js/oauth/blockAuthorization.js') }}"></script>
        </div>
        <div class="w-fit h-fit mx-auto mt-[16px]">
            <div class="w-fit h-fit mx-auto">
                <p class="font-inter text-[12px]">Authorizing will redirect to</p>
            </div>
            <div class="w-fit h-fit mx-auto">
            {% if webApp is not null %}
                <p class="font-inter text-[12px] font-bold">{{ webApp.redirectUrl|length > 40 ? webApp.redirectUrl|slice(0,40) ~ '...' : webApp.redirectUrl }}</p>
            {% endif %}
            </div>
        </div>
    </div>
{% endblock %}