{% extends 'base.html.twig' %}

{% block body %}
    <div class="w-fit h-fit mx-auto mt-[300px]">
        <div class="h-fit w-fit mx-auto">
            <p class="text-[24px] font-inter break-normal">Reset your password</p>
        </div>
        {% if error is not null %}
            <div class="mx-auto mt-[20px] border-2 bg-red-100 border-red-400 rounded w-[260px] h-fit pt-[6px] pb-[6px]">
                <p class="font-inter text-[14px] text-center break-normal opacity-[96%]">{{ error }}</p>
            </div>
        {% endif %}
        <div class="w-[240px] h-fit mx-auto mt-[20px]">
            <p class="text-[14px] font-inter break-normal text-center">Enter the code from your email.</p>
        </div>
        {{ form_start(form) }}
        <div class="h-fit w-fit mx-auto mt-[10px]">
            {{ form_row(form.code) }}
        </div>
        <div class="h-[2px] w-[260px] bg-[#2e4053] rounded"></div>
        {{ form_row(form.token) }}
        <div class="w-[220px] h-fit flex mx-auto justify-between  mt-[40px]">
            <div class="h-fit w-fit pt-[6px]">
                <a class="hover:text-grey transition inline-block align-middle" href="{{ path('login') }}">
                    <p class="font-inter text-[16px]">Cancel</p>
                </a>
            </div>
            <div class="h-fit w-fit">
                {{ form_row(form.submit) }}
            </div>
        </div>
        {{ form_end(form) }}
        <div class="w-fit h-fit mx-auto mt-[20px]">
            <a href="{{ path('password_forgotten_verify') }}?newCode=true" class="hover:text-grey transition">
                <p class="font-inter text-[14px]">Request new code</p>
            </a>
        </div>
    </div>
{% endblock %}
