{% extends 'base-without-components.html.twig' %}

{% block body %}
    <div class="box-center bg-[#222222] w-[300px] h-fit absolute rounded-lg drop-shadow-md px-[20px] py-[14px]">
        <div class="h-fit w-fit mx-auto mt-[50px]">
            <p class="text-[22px]">Reset your password</p>
        </div>
        <div class="w-[240px] h-fit mx-auto mt-[20px]">
            <p class="text-[14px] text-center">Enter your user verified Email address to receive a code from us.</p>
        </div>
        {% include 'website/components/formError.html.twig' %}
        {{ form_start(form, { 'attr': { 'id': 'reset-password-email' } }) }}
        <div class="h-fit w-fit mx-auto mt-[20px]">
            {{ form_widget(form.email, { 'attr': { 'class': 'input' } }) }}
        </div>
        {{ form_widget(form.token) }}
        <div class="w-[247.5px] mx-auto h-fit mt-[40px] flex justify-between {% if email is null %} mb-[50px] {% endif %}">
            <a href="{{ path('home') }}" class="w-[80px] h-[35px] rounded hover:bg-black transition">
                <div class="w-full h-full flex items-center justify-center">
                    <p class="text-[16px] w-fit h-fit">Cancel</p>
                </div>
            </a>
            <div class="w-fit h-fit">
                {{ form_widget(form.submit, { 'attr': { 'class': 'submit-button' } }) }}
            </div>
        </div>
        {{ form_end(form) }}
        {% if email is not null %}
        <div class="w-fit h-fit mx-auto mt-[20px] mb-[20px]">
            <a href="{{ path('password_forgotten') }}?newCode={{ email }}">
                <p class="text-[14px] text-[#4EA8DE]">Request new code</p>
            </a>
        </div>
        {% endif %}
    </div>
    <script type="module">
        import FormValidator from "{{ asset('build/js/FormValidator.js') }}";

        const resetPasswordEmail = new FormValidator('reset-password-email', { email_form_email: 'email_form_email' })
    </script>
{% endblock %}