{% extends 'base.html.twig' %}

{% block body %}
    <div class="w-fit h-fit mx-auto mt-[280px]">
        <div class="h-fit w-fit mx-auto">
            <p class="text-[24px] font-inter break-normal">Change password for</p>
        </div>
        <div class="h-fit w-fit mx-auto">
            <p class="text-[24px] font-inter break-normal">{{ email }}</p>
        </div>
        {% if error is not null or form_errors(form.password.first)|length > 0 %}
            <div class="mx-auto mt-[20px] border-2 bg-red-100 border-red-400 rounded w-[260px] h-fit pt-[6px] pb-[6px] pl-[8px] pr-[8px]">
                <p class="font-inter text-[14px] text-center break-normal opacity-[96%]">
                    {% if error is null %}
                        {{ form_errors(form.password.first) }}
                    {% else %}
                        {{ error }}
                    {% endif %}
                </p>
            </div>
        {% endif %}
        <div class="w-[240px] h-fit mx-auto mt-[20px]">
            <p class="text-[14px] font-inter break-normal text-center">Password must be at least 10 characters long.</p>
        </div>
        {{ form_start(form) }}
        <div class="h-fit w-fit mx-auto mt-[10px]">
            {{ form_widget(form.password.first) }}
        </div>
        <div class="h-[2px] w-[260px] bg-[#2e4053] rounded"></div>
        <div class="h-fit w-fit mx-auto mt-[10px]">
            {{ form_widget(form.password.second) }}
        </div>
        <div class="h-[2px] w-[260px] bg-[#2e4053] rounded"></div>
        {{ form_row(form.token) }}
        <div class="w-[220px] h-fit flex mx-auto justify-between mt-[40px]">
            <div class="h-fit w-fit pt-[6px]">
                <a class="hover:text-grey transition inline-block align-middle" href="{{ path('login') }}">
                    <p class="font-inter text-[16px]">Cancel</p>
                </a>
            </div>
            <div class="h-fit w-fit">
                {{ form_row(form.save) }}
            </div>
        </div>
        {{ form_end(form) }}
    </div>
{% endblock %}