<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>🔒</text></svg>">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100;200;400;500&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ asset('dist/style.css') }}">
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}

        {% block javascripts %}
            {{ encore_entry_script_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('error') %}
        <div class="alert alert-danger">
            {{ message }}
        </div>
    {% endfor %}
        <div class="absolute w-full h-[100vh] left-[0px] top-[0px] right-[0px] bg-black bottom-[0px] opacity-0 z-[-1] transition-all" id="blur"></div>
        <div class="flex">
            <nav id="navbar" class="w-[320px] z-[110] left-[-320px] h-[100%] bg-white absolute overflow-x-hidden overflow-y-scroll scrollbar-hide transition-all border-r-2">
                <div id="trigger1" class="relative h-fit w-full">
                    <div class="w-full h-[68px] pl-[20px] flex">
                        <div class="absolute w-[80%] h-fit left-[82px]">
                            <a id="navbar-link-home" href="{{ path('home') }}" class="relative inline-block font-inter w-[70%] h-[100%] hover:text-grey transition text-[20px] pt-[24px]">
                                Metaverse
                            </a>
                        </div>
                        <div id="menu-close" class="absolute w-fit h-fit flex-none mt-[30px] cursor-pointer right-[24px]">
                            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-x-lg" viewBox="0 0 16 16">
                                <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="w-[100%] h-[22px] pt-[10px]">
                        <div class="relative left-[3%] w-[94%] h-[2px] bg-[#ebebeb]"></div>
                    </div>
                    <div class="w-full h-[68px] pl-[20px]">
                        <a href="{{ path('dashboard') }}" class="relative inline-block font-inter w-[94%] h-[100%] {% if path_name == 'dashboard' %} active-menu-dashboard{% endif %} hover:text-grey transition text-[20px] pt-[20px] pl-[60px]">
                            Dashboard
                        </a>
                    </div>
                    <div class="w-[100%] h-[2px]"></div>
                    <div class="w-full h-[68px] pl-[20px]">
                        <a href="{{ path('dashboard_profile') }}" class="relative inline-block font-inter w-[94%] h-[100%] {% if path_name == 'profile' %} active-menu-dashboard{% endif %} hover:text-grey transition text-[20px] pt-[20px] pl-[60px]">
                            Profile
                        </a>
                    </div>
                    <div class="w-[100%] h-[2px]"></div>
                    <div class="w-full h-[68px] pl-[20px]">
                        <a href="{{ path('dashboard_inventory') }}" class="relative inline-block font-inter w-[94%] h-[100%] {% if path_name == 'inventory' %} active-menu-dashboard{% endif %} hover:text-grey transition text-[20px] pt-[20px] pl-[60px]">
                            Inventory
                        </a>
                    </div>
                    <div class="w-[100%] h-[2px]"></div>
                    <div class="w-full h-[68px] pl-[20px]">
                        <a href="{{ path('dashboard_creator') }}" class="relative inline-block font-inter w-[94%] h-[100%] {% if path_name == 'creator' %} active-menu-dashboard{% endif %} hover:text-grey transition text-[20px] pt-[20px] pl-[60px]">
                            Creator
                        </a>
                    </div>
                    <div class="w-[100%] h-[2px]"></div>
                    <div class="w-full h-[68px] pl-[20px]">
                        <a href="{{ path('dashboard_developer') }}" class="relative inline-block font-inter w-[94%] h-[100%] {% if path_name == 'developer' %} active-menu-dashboard{% endif %} hover:text-grey transition text-[20px] pt-[20px] pl-[60px]">
                            Developer
                        </a>
                    </div>
                </div>
                <div id="trigger2" class="absolute h-fit w-full bottom-[0px]">
                    <div class="w-full h-[22px] pt-[10px]">
                        <div class="relative left-[3%] w-[94%] h-[2px] bg-[#ebebeb]"></div>
                    </div>
                    <div class="w-full h-[80px] pb-[12px] pl-[20px]">
                        <a href="{{ path('logout') }}" class="relative inline-block font-inter w-[100%] h-[100%] hover:text-grey transition text-[20px] pt-[20px] pl-[60px] flex">
                            Logout
                            <div class="relative top-[8px] left-[40px]">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                    <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                </svg>
                            </div>
                        </a>
                    </div>
                </div>
            </nav>
            {% block body %}{% endblock %}
        </div>
        <script src="{{ asset('js/dashboard/navbar.js') }}"></script>
    </body>
</html>