{% extends 'baseDashboard.html.twig' %}

{% block body %}
    <div class="overflow-x-hidden overflow-y-scroll scrollbar-hide w-full h-[100vh]">
        {% include 'website/dashboard/components/navbar.html.twig' %}
        <div id="content-box" class="mx-auto h-fit pt-[40px]">
            <div class="w-full flex justify-between">
                <div class="w-fit">
                    <p id="item-amount-text" class="font-inter inline">{% if not amount == 1 %} Items {% else %} Item {% endif %}</p>
                    <p id="item-amount" class="font-inter inline">{{ amount }}</p>
                </div>
                <div class="w-fit flex justify-evenly">
                    <div class="w-[24px] h-[24px] rounded relative pt-[2px] pl-[4px] hover:shadow-md transition cursor-pointer">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-search" viewBox="0 0 16 16">
                            <path d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z"/>
                        </svg>
                    </div>
                    <div class="w-fit h-[24px] rounded ml-[10px] mr-[10px] hover:shadow-md transition cursor-pointer">
                        <div class="h-[24px] w-[24px] pt-[2px] pl-[4px]">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                            </svg>
                        </div>
                    </div>
                    <div class="w-fit h-[24px] relative">
                        <button id="create-button" class="w-[40px] h-[22px] border-2 border-green-400 rounded bg-green-100 hover:bg-green-400 transition pl-[10px]">
                            <div class="w-fit h-fit">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-plus" viewBox="0 0 16 16">
                                    <path d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4z"/>
                                </svg>
                            </div>
                        </button>
                        <div id="create-menu" class="absolute left-[-80px] w-[120px] h-[170px] rounded bg-black opacity-0 z-[18] shadow-xl transition" style="visibility: hidden">
                            <div class="w-fit h-fit relative mt-[11px] mb-[11px] mx-auto">
                                <p class="font-inter text-[16px] text-white pointer-events-none">Create</p>
                            </div>
                            <div class="h-[2px] w-[94%] bg-[#ebebeb] rounded mx-auto"></div>
                            <div class="w-[90%] h-fit pl-[8px] mx-auto mt-[12px] rounded hover:bg-[#575957] transition">
                                <a href="{{ path('creator_create_item') }}">
                                    <p class="font-inter text-[15px] text-white w-fit">Item</p>
                                </a>
                            </div>
                            <div class="w-[90%] h-fit pl-[8px] mx-auto mt-[12px] rounded hover:bg-[#575957] transition">
                                <a href="{{ path('creator_create_group') }}">
                                    <p class="font-inter text-[15px] text-white w-fit">Group</p>
                                </a>
                            </div>
                            <div class="w-[90%] h-fit pl-[8px] mx-auto mt-[12px] rounded hover:bg-[#575957] transition">
                                <a href="{{ path('creator_create_collection') }}">
                                    <p class="font-inter text-[15px] text-white w-fit">Collection</p>
                                </a>
                            </div>
                        </div>
                        <script src="{{ asset('js/creator/menu.js') }}"></script>
                    </div>
                </div>
            </div>
            <div id="item-content-box" class="flex flex-wrap gap-4 justify-evenly mt-[20px] mb-[60px]">
                {% for item in items %}
                <div class="relative w-[244px] h-[244px] bg-[#e5e7eb] item-box group">
                    <div class="absolute w-full h-full">
                        <img class="object-cover w-[244px] h-[244px] h-full w-full" src="{{ asset('files/profile/%userNickname%/items/%itemName%/pictures/%itemPicture%'|replace({'%userNickname%': user.nickname|lower, '%itemName%': item.name, '%itemPicture%': item.path.pictures.1})) }}">
                    </div>
                    <div class="absolute w-full h-full z-[10] transition-all opacity-0 bg-black group-hover:opacity-[0.4] rounded-t-sm"></div>
                    <div class="absolute bottom-[0px] w-full h-fit z-[11] opacity-0 group-hover:opacity-100 transition-all">
                        <div class="relative w-full h-[80px] bg-blue-100 opacity-[0.9]">
                            <div class="w-full h-fit absolute my-auto">
                                <div class="w-full h-fit pl-[12px] mt-[11px] flex justify-between pr-[12px]">
                                    <div class="w-fit h-fit">
                                        <p class="font-inter text-[14px]">{{ item.name|length > 12 ? item.name|slice(0,12) ~ '...' : item.name }}</p>
                                    </div>
                                    <div class="w-fit h-fit z-[16]">
                                        <button id="{{ item.id }}_button" class="h-[22px] w-[22px] pl-[3px] rounded hover:shadow-md transition" onclick="openItemMenu(this.id)">
                                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-three-dots" viewBox="0 0 16 16">
                                                <path d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"/>
                                            </svg>
                                        </button>
                                        <div id="{{ item.id }}_menu" class="absolute w-full h-[80px] opacity-0 left-[0px] top-[0px] bg-black z-[18] transition-all" style="border-radius: 0 0 2px 2px; visibility: hidden;">
                                            <div class="absolute w-full h-fit pl-[12px] mt-[11px] flex justify-between pr-[18px]">
                                                <div class="w-fit">
                                                    <a href="{{ path('creator_item_by_id', {'id': item.id}) }}">
                                                        <p class="font-inter text-white text-[14px] hover:text-grey transition">Settings</p>
                                                    </a>
                                                </div>
                                                <div class="w-fit h-fit">
                                                    <button id="{{ item.id }}_close_button" class="text-white pl-[3px] h-[16px] w-[16px] hover:text-grey transition" onclick="closeItemMenu(this.id)">
                                                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="h-[16px] w-[16px]" viewBox="0 0 16 16">
                                                            <path d="M2.146 2.854a.5.5 0 1 1 .708-.708L8 7.293l5.146-5.147a.5.5 0 0 1 .708.708L8.707 8l5.147 5.146a.5.5 0 0 1-.708.708L8 8.707l-5.146 5.147a.5.5 0 0 1-.708-.708L7.293 8 2.146 2.854Z"/>
                                                        </svg>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                {% if item.project is not null %}
                                    {% set projectName = item.project.projectName %}
                                    <div class="w-fit h-fit pl-[12px] mt-[10px]">
                                        <p class="font-inter text-[14px]">{{ projectName|length > 23 ? projectName|slice(0,23) ~ '...' : projectName }}</p>
                                    </div>
                                {% endif %}
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
            {% include 'website/components/pagination/pagination.html.twig' %}
        </div>
        <script src="{{ asset('js/creator/contentBox.js') }}"></script>
    </div>
{% endblock %}