{% extends 'baseDashboard.html.twig' %}

{% block body %}
    <div class="overflow-x-hidden overflow-y-scroll w-full h-[100vh]">
        <div class="h-[80px] w-full">
            <div class="h-[78px] w-[80%] mx-auto pt-[19.5px]">
                <p class="font-inter text-[26px] select-none">Profile</p>
            </div>
            <div class="relative mx-auto h-[2px] bg-[#ebebeb] w-[80%] rounded"></div>
        </div>
        <div class="flex max-w-[1000px] mx-auto h-fit pt-[40px]">
            <div class="relative w-full flex justify-evenly">
                <form action="{{ path('dashboard_profile') }}" method="post" enctype="multipart/form-data" name="profile-pic-form" class="h-fit">
                    <div class="w-fit">
                        <div class="w-fit h-[30px]">
                            <p class="font-inter text-[14px] select-none">Profile picture</p>
                        </div>
                        <div class="relative w-[124px] h-[124px] rounded-full bg-[#2e4053]">
                            <img src="{% if user.profilePic is not null %} {{ asset(user.profilePic) }} {% else %} {{ asset('files/profile/default.jpg') }} {% endif %}" class="relative top-[2px] left-[2px] object-cover w-[120px] h-[120px] rounded-full select-none">
                            <div class="z-10 border-2 border-[#2e4053] bg-white hover:bg-[#2e4053] group absolute rounded w-[40px] h-[30px] left-[90px] top-[80px] transition" id="edit-prf-pic">
                                <input id="prf-pic-input" name="profile-picture" type="file" class="opacity-0 cursor-pointer w-[36px] h-[26px] absolute">
                                <input name="form-type" type="hidden" value="picture">
                                <div class="w-full h-full pt-[6px] pl-[10px]">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-pencil fill-black group-hover:fill-white transition" viewBox="0 0 16 16">
                                        <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                                    </svg>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="absolute left-[0px] right-[0px] ml-auto mr-auto w-fit h-fit">
                        <div class="relative flex-none w-[260px] h-[360px] mx-auto bg-black opacity-0 z-[-1] rounded-lg transition-all" id="imgprwbox">
                            <div class="absolute top-[14px] pl-[28px]">
                                <p class="font-inter text-white text-[14px] select-none">Picture change</p>
                            </div>
                            <div class="relative top-[10px] h-fit left-[80%]">
                                <button type="button" class="text-white" id="discardprfimg">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </button>
                            </div>
                            <div id="picture-error" class="w-fit mx-auto pt-[0px] mt-[10px] h-[20px] hidden">
                                <p class="text-[12px] text-red-500">File not supported</p>
                            </div>
                            <div class="relative top-[20px] left-[30px] w-fit">
                                <img id="imgprw" class="object-cover w-[200px] h-[200px]" src="#">
                            </div>
                            <div id="img-submit-box" class="absolute bottom-[40px] w-full h-fit">
                                <div class="w-fit mx-auto">
                                    <div id="img-submit" class="relative h-fit">
                                        <button type="submit" class="border-2 border-[#17ddff] text-white h-[30px] w-[200px] rounded bg-[#06b6d4] hover:bg-[#17ddff] transition" id="saveprfimg">Save new profile picture</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
                <form id="form-privacy" action="{{ path('dashboard_profile') }}" method="post" enctype="application/x-www-form-urlencoded">
                    <div class="w-[124px]">
                        <p class="font-inter text-[14px] select-none">Profile privacy</p>
                    </div>
                    <div class="flex relative top-[30px]">
                        <p class="font-inter text-[18px] mr-[30px] select-none">Public</p>
                        <input class="checked:accent-black" name="privacy" id="privacy" type="checkbox" {% if not user.isPrivate %} checked {% endif %}>
                    </div>
                    <input name="form-type" type="hidden" value="privacy">
                </form>
            </div>
        </div>
        <div class="relative w-full">
            <div class="mx-auto w-fit h-fit pt-[60px]">
                <div class="flex-none pb-[20px]">
                    <p class="font-inter text-[16px] select-none">Nickname</p>
                </div>
                <div class="relative flex-none rounded border-2 h-[40px] w-[460px] pt-[6px] pl-[10px]">
                    <p class="font-inter text-grey text-[16px]">{{ user.nickname }}</p>
                    <div id="nick-chg-button" class="absolute right-[-2px] top-[-2px] h-[40px] w-[40px] border-2 rounded pt-[10px] pl-[10px] cursor-pointer group hover:bg-[#2e4053] transition hover:border-[#888888]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-pencil fill-black group-hover:fill-white transition" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                    </div>
                </div>
                <div id="nickname-change-box" class="absolute top-[0px] opacity-0 z-[-1] transition-all left-[0px] right-[0px] ml-auto mr-auto w-fit h-fit">
                    <div class="w-[300px] h-fit bg-black rounded">
                        <div class="absolute top-[14px] pl-[28px]">
                            <p class="font-inter text-white text-[14px] select-none">Nickname change</p>
                        </div>
                        <div class="relative top-[10px] h-fit left-[80%]">
                            <button id="discardnickchg" type="button" class="text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </button>
                        </div>
                        <form id="nick-chg-form" action="{{ path('dashboard_profile') }}" method="post" class="w-full mt-[20px]">
                            <div class="w-fit mx-auto mt-[40px]">
                                <input id="nickname-input" type="text" name="nickname" class="rounded-lg pl-[12px] w-[260px] pb-[12px] text-white bg-black text-[16px] font-inter focus:outline-none" placeholder="type here...">
                            </div>
                            <div class="border w-[244px] border-[#e5e7eb] rounded mx-auto"></div>
                            <div class="relative w-fit h-[40px] w-[40px] mx-auto mt-[20px]">
                                <div id="nickname-not-available" class="absolute z-[-1] h-full w-full transition-all">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" class="fill-red-500" viewBox="0 0 16 16">
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </div>
                                <div id="nickname-loading" class="absolute z-[-1] opacity-0 h-full w-full transition-all">
                                    <div class="lds-dual-ring"></div>
                                </div>
                                <div id="nickname-available" class="absolute z-[-1] h-full w-full transition-all">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" class="fill-green-400" viewBox="0 0 16 16">
                                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                    </svg>
                                </div>
                            </div>
                            <input type="hidden" name="form-type" value="nickname">
                            <div class="relative w-fit mx-auto mt-[20px] h-[70px]">
                                <div id="nickname-submit" class="w-fit h-fit cursor-not-allowed">
                                    <button id="nickname-button" type="submit" class="pointer-events-none border-2 border-[#17ddff] text-white h-[30px] w-[200px] rounded bg-[#06b6d4] hover:bg-[#17ddff] transition">Save your new nickname</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="relative w-full">
            <div class="mx-auto w-fit h-fit pt-[40px]">
                <div class="flex-none pb-[20px]">
                    <p class="font-inter text-[16px] select-none">Email</p>
                </div>
                <div class="relative flex-none rounded border-2 h-[40px] w-[460px] pt-[6px] pl-[10px]">
                    <p class="font-inter text-grey text-[16px]">{{ user.email }}</p>
                    <div id="email-chg-button" class="absolute right-[-2px] top-[-2px] h-[40px] w-[40px] border-2 rounded pt-[10px] pl-[10px] cursor-pointer group hover:bg-[#2e4053] transition hover:border-[#888888]">
                        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="bi bi-pencil fill-black group-hover:fill-white transition" viewBox="0 0 16 16">
                            <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168l10-10zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207 11.207 2.5zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293l6.5-6.5zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325z"/>
                        </svg>
                    </div>
                </div>
                <div id="email-change-box" class="absolute top-[-145px] opacity-0 z-[-1] transition-all left-[0px] right-[0px] ml-auto mr-auto w-fit h-fit">
                    <div class="w-[300px] h-fit bg-black rounded">
                        <div class="absolute top-[14px] pl-[28px]">
                            <p class="font-inter text-white text-[14px] select-none">Email change</p>
                        </div>
                        <div class="relative top-[10px] h-fit left-[80%]">
                            <button id="discardEmailchg" type="button" class="text-white">
                                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-x" viewBox="0 0 16 16">
                                    <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                </svg>
                            </button>
                        </div>
                        <form id="email-change-form" method="post" action="{{ path('dashboard_profile') }}" class="w-full mt-[20px]">
                            <div class="w-fit mx-auto mt-[40px]">
                                <input id="email-input" type="email" name="email" class="rounded-lg pl-[12px] w-[260px] pb-[12px] text-white bg-black text-[16px] font-inter focus:outline-none" placeholder="type here...">
                            </div>
                            <div class="border w-[244px] border-[#e5e7eb] rounded mx-auto"></div>
                            <div class="relative w-fit h-[40px] w-[40px] mx-auto mt-[20px]">
                                <div id="email-not-available" class="absolute z-[-1] h-full w-full transition-all">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" class="fill-red-500" viewBox="0 0 16 16">
                                        <path d="M4.646 4.646a.5.5 0 0 1 .708 0L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 0 1 0-.708z"/>
                                    </svg>
                                </div>
                                <div id="email-loading" class="absolute z-[-1] opacity-0 h-full w-full transition-all">
                                    <div class="lds-dual-ring"></div>
                                </div>
                                <div id="email-available" class="absolute z-[-1] h-full w-full transition-all">
                                    <svg xmlns="http://www.w3.org/2000/svg" width="40" height="40" class="fill-green-400" viewBox="0 0 16 16">
                                        <path d="M10.97 4.97a.75.75 0 0 1 1.07 1.05l-3.99 4.99a.75.75 0 0 1-1.08.02L4.324 8.384a.75.75 0 1 1 1.06-1.06l2.094 2.093 3.473-4.425a.267.267 0 0 1 .02-.022z"/>
                                    </svg>
                                </div>
                            </div>
                            <input type="hidden" name="form-type" value="email">
                            <div class="relative w-fit mx-auto mt-[20px] h-[70px]">
                                <div id="email-submit" class="w-fit h-fit cursor-not-allowed">
                                    <button id="email-button" type="submit" class="pointer-events-none border-2 border-[#17ddff] text-white h-[30px] w-[200px] rounded bg-[#06b6d4] hover:bg-[#17ddff] transition">Save your new Email</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="{{ asset('js/profileMailChange.js') }}"></script>
    <script src="{{ asset('js/profileNickChange.js') }}"></script>
    <script src="{{ asset('js/profileForms.js') }}"></script>
    <script>
        let privacy = document.getElementById('privacy');
        let form = document.getElementById('form-privacy');

        privacy.addEventListener('click', function handleClick() {
            form.submit();
        });
    </script>
{% endblock %}
