{% extends 'base.html.twig' %}

{% block title %}Home{% endblock %}

{% block body %}
    <div id="navbar" class="absolute w-[320px] opacity-0 z-[-1] h-[100vh] bg-white absolute overflow-x-hidden overflow-y-scroll scrollbar-hide transition-all border-r-2">
        <div class="w-full">

        </div>
    </div>
    <header>
       <nav class="w-full">
           <div class="h-[73px] relative">
               <div id="menu" class="absolute left-[5.2%] top-[10px] hidden w-fit h-fit cursor-pointer mt-[18px] z-10">
                   <div class="h-fit w-[20px]">
                       <div class="h-[2px] bg-black my-[6px]"></div>
                       <div class="h-[2px] bg-black my-[6px]"></div>
                       <div class="h-[2px] bg-black my-[6px]"></div>
                   </div>
               </div>
               <div id="name" class="w-fit absolute left-[5.2%] top-[31px]">
                   <p class="p hover:text-black pointer-events-none select-none">Metaverse</p>
               </div>
               <div class="w-full absolute flex justify-center">
                   <div class="w-fit absolute top-[31px] flex">
                       <div id="explanation-box" class="group flex-auto" onclick="">
                           <p class="p relative z-[11] text-[18px] cursor-pointer group-hover:text-grey">Explanation</p>
                           <div class="absolute z-10 invisible opacity-0 delay-100 rounded shadow-md group-hover:visible group-hover:opacity-100 transition-opacity w-[222px] h-[244px] left-[-61.6835px] top-[22px] bg-white">
                               <ul class="relative w-fit left-[29px] top-[45px]">
                                   <li>
                                       <a href="">
                                           <p class="p">About our Services</p>
                                       </a>
                                   </li>
                                   <li class="mt-[21px]">
                                       <a href="">
                                           <p class="p">Practical</p>
                                       </a>
                                   </li>
                                   <li class="mt-[21px]">
                                       <a href="">
                                           <p class="p">Goals</p>
                                       </a>
                                   </li>
                                   <li class="mt-[21px]">
                                       <a href="">
                                           <p class="p">Security</p>
                                       </a>
                                   </li>
                               </ul>
                           </div>
                       </div>
                       <div id="documentation-box" class="group mx-[127px] flex justify-center" onclick="">
                           <p class="p relative z-[11] cursor-pointer group-hover:text-grey">Documentation</p>
                           <div class="absolute z-10 invisible opacity-0 delay-100 rounded shadow-md group-hover:visible group-hover:opacity-100 transition-opacity w-[222px] h-[419px] top-[22px] bg-white">
                               <ul class="relative w-fit left-[29px] top-[45px]">
                                   <li>
                                       <a href="">
                                           <p class="p">Items</p>
                                       </a>
                                   </li>
                                   <li class="mt-[21px]">
                                       <a href="">
                                           <p class="p">Inventory</p>
                                       </a>
                                   </li>
                                   <li class="mt-[21px]">
                                       <a href="">
                                               <p class="p">Storage</p>
                                       </a>
                                   </li>
                                   <li class="mt-[21px]">
                                       <a href="">
                                           <p class="p">Chat</p>
                                       </a>
                                   </li>
                                   <li class="mt-[21px]">
                                       <a href="">
                                           <p class="p">Post</p>
                                       </a>
                                   </li>
                                   <li class="mt-[21px]">
                                       <a href="">
                                           <p class="p">Forum</p>
                                       </a>
                                   </li>
                                   <li class="mt-[21px]">
                                       <a href="">
                                           <p class="p">Projects</p>
                                       </a>
                                   </li>
                                   <li class="mt-[21px]">
                                       <a href="">
                                           <p class="p">Security</p>
                                       </a>
                                   </li>
                               </ul>
                           </div>
                       </div>
                       <div id="community-box" class="relative group flex-auto" onclick="">
                           <p class="p relative z-[11] cursor-pointer group-hover:text-grey">Community</p>
                           <div class="absolute z-10 invisible opacity-0 delay-100 rounded shadow-md group-hover:visible group-hover:opacity-100 transition-opacity w-[222px] h-[244px] left-[-62.8335px] top-[22px] bg-white">
                               <ul class="relative w-fit left-[29px] top-[45px]">
                                   <li>
                                       <a href="">
                                           <p class="p">Posts</p>
                                       </a>
                                   </li>
                                   <li class="mt-[21px]">
                                       <a href="">
                                           <p class="p">Forum</p>
                                       </a>
                                   </li>
                                   <li class="mt-[21px]">
                                       <a href="">
                                           <p class="p">Projects</p>
                                       </a>
                                   </li>
                                   <li class="mt-[21px]">
                                       <a href="">
                                           <p class="p">Blogs</p>
                                       </a>
                                   </li>
                               </ul>
                           </div>
                       </div>
                   </div>
               </div>
               <div id="account" class="group w-fit absolute right-[5.2%] top-[16.5px]" onclick="">
                   {% if is_granted('ROLE_USER') %}
                       <div class="w-[42px] h-[42px] rounded-full bg-[#2e4053] cursor-pointer group-hover:bg-[#c5ffef] transition">
                           {% if user.profilePic is not null %}
                               <img src="{{ asset(user.profilePic) }}" class="relative top-[2px] left-[2px] w-[38px] h-[38px] rounded-full object-cover">
                           {% else %}
                               <div class="rounded-full w-fit h-fit bg-white">
                                   <svg xmlns="http://www.w3.org/2000/svg" width="42" height="42" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
                                       <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
                                       <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
                                   </svg>
                               </div>
                           {% endif %}
                       </div>
                       <div id="account-dropdown" class="absolute z-10 invisible opacity-0 delay-100 rounded shadow-md transition-opacity w-[175px] h-[242px] right-[5.2%] bg-white">
                           <ul class="relative w-fit">
                               <li>
                                   <div class="rounded ml-[28px] h-[46px] w-[119px] pl-[8px] pt-[12px] pr-[8px] hover:shadow-md transition">
                                       <a href="{{ path('dashboard') }}" class="w-full">
                                           <p class="font-inter text-[18px]">Dashboard</p>
                                       </a>
                                   </div>
                               </li>
                               <li>
                                   <div class="rounded ml-[28px] h-[46px] w-[119px] pl-[8px] pt-[12px] pr-[8px] hover:shadow-md transition">
                                       <a href="{{ path('dashboard_profile') }}" class="w-full">
                                           <p class="font-inter text-[18px]">Profile</p>
                                       </a>
                                   </div>
                               </li>
                               <li>
                                   <div class="rounded ml-[28px] h-[46px] w-[119px] pl-[8px] pt-[12px] pr-[8px] hover:shadow-md transition">
                                       <a href="" class="w-full">
                                           <p class="font-inter text-[18px]">Settings</p>
                                       </a>
                                   </div>
                               </li>
                               <div class="relative ml-[28px] mt-[11px] right-[12px] w-[140px] bg-[#ebebeb] h-[2px] mt-[16px] rounded"></div>
                               <li>
                                   <div class="rounded ml-[28px] mt-[8px] h-[46px] w-[119px] pl-[8px] pt-[12px] pr-[8px] hover:shadow-md transition">
                                       <a href="{{ path('logout') }}" class="flex w-full">
                                           <p class="font-inter text-[18px]">Logout</p>
                                           <div class="ml-[28px] mt-[5px]">
                                               <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-right" viewBox="0 0 16 16">
                                                   <path fill-rule="evenodd" d="M10 12.5a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-9a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v2a.5.5 0 0 0 1 0v-2A1.5 1.5 0 0 0 9.5 2h-8A1.5 1.5 0 0 0 0 3.5v9A1.5 1.5 0 0 0 1.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-2a.5.5 0 0 0-1 0v2z"/>
                                                   <path fill-rule="evenodd" d="M15.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 0 0-.708.708L14.293 7.5H5.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                                               </svg>
                                           </div>
                                       </a>
                                   </div>
                               </li>
                           </ul>
                       </div>
                   {% else %}
                       <div class="relative top-[14.5px]">
                            <a href="{{ path('login') }}">
                                <p class="p text-[18px]">Log In</p>
                            </a>
                       </div>
                   {% endif %}
               </div>
           </div>
           <div class="h-[2px] bg-[#ebebeb] w-[93.74%] rounded m-auto"></div>
       </nav>
    </header>
    <script src="{{ asset('js/home/dropdown.js') }}"></script>
    <script src="{{ asset('js/home/navbar.js') }}"></script>
{% endblock %}
